// ============================================================
// Table of Contents
//   01. Padding
//   02. Margins
//   03. Display
//   04. Backgrounds
//   05. Alignment
//   06. Full Width
//   07. Icon Modifier Classes
//   08. Text Transform
//   09. No Border
//   10. Inline List
// ============================================================

// 01. Padding
@include utilify('page-section',(
  padding-top: rem-calc(30),
  padding-bottom: rem-calc(30)
));
@include querify('no-padding', ( padding: 0));
@include querify('no-padding-top', ( padding-top: 0));
@include querify('no-padding-right', ( padding-right: 0));
@include querify('no-padding-bottom', ( padding-bottom: 0));
@include querify('no-padding-left', ( padding-left: 0));

// 02. Margins
@include utilify('margin-top', ( margin-top: rem-calc(30) ));
@include utilify('margin-right', ( margin-right: rem-calc(30) ));
@include utilify('margin-bottom', ( margin-bottom: rem-calc(30) ));
@include utilify('margin-left', ( margin-left: rem-calc(30) ));
@include querify('no-margin', ( margin: 0));
@include querify('no-margin-top', ( margin-top: 0));
@include querify('no-margin-right', ( margin-right: 0));
@include querify('no-margin-bottom', ( margin-bottom: 0));
@include querify('no-margin-left', ( margin-left: 0));

// 03. Display
@include querify('inline', ( display: inline));
@include querify('inline-block', ( display: inline-block));
@include querify('block', ( display: block));

// 04. Backgrounds
.bg-cover       { background-size: cover !important; }
.bg-contain     { background-size: contain !important; }

// 05. Alignment
// for inline elements:
.vam, .vertical-align { vertical-align: middle; }
.vat, .vertical-align-top, .vertical-top { vertical-align: top; }
// for display:block elements in layout:
.vertical-center { @include vertical-align; }

// 06. Full Width
.full { width: 100%; }

// 07. Icon Modifier Classes
@include querify('icon-2x', ( font-size: rem-calc(24) ));
@include querify('icon-3x', ( font-size: rem-calc(32) ));
@include querify('icon-4x', ( font-size: rem-calc(48) ));
@include querify('icon-5x', ( font-size: rem-calc(80) ));
@include querify('icon-6x', ( font-size: rem-calc(96) ));

// 08. Text Transform
.uppercase, .text-uppercase {text-transform: uppercase; }

// 09. No Border
.no-border {border: none; }

// 10. Inline List
.inline-list {
  @include clearfix;
  list-style: none;
  margin-left: 0;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: rem-calc(15);
    &:last-child {margin-right: 0; }
  }
}
