doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title m o n t e
    meta(name="description", content="m o n t e")
    include _head.jade

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .container
      header.header
        .row
          .columns
            h1 m o n t e
      main#main
        .row
          .columns
            p spanish for mountain

      footer.footer
        .row
          .columns
            p &phi;

    include _scripts.jade
