doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title m o n t e
    meta(name="description", content="m o n t e")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="stylesheet", href="css/style.css")

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.header
        .row
          .columns
            h1 m o n t e

      main#main
        .row
          .columns
            p spanish for mountain

      footer.footer
        .row
          .columns
            p &phi;

    script(src="js/vendors.js")
    script(src="js/main.js")
