doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title m o n t e
    meta(name="description", content="m o n t e")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="style/main.css")

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.header
        .row.page-section
          .columns
            h1 monte
      main#main
        .page-section.medium-xtra-thick-margin-bottom
          .row.align-center
            .columns.medium-8.large-6
              h2.header-1.margin-bottom el monte y el rio
                small
                  span &nbsp;/&nbsp;
                  em pablo neruda
              p En mi patria hay un monte. <br /> En mi patria hay un río.
              p Ven conmigo.
              p Quiénes son los que sufren? <br /> No sé, pero son míos.
              p Ven conmigo.
              p No sé, pero me llaman <br /> y me dicen "Sufrimos".
              p Ven conmigo.

      footer.footer.jet-bg.white
        .row.thin-page-section.text-right
          .columns
            small z a p o / 2016

    script(src="scripts/main.js")
