doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title m o n t e
    meta(name="description", content="m o n t e")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="stylesheet", href="style/style.css")
    script(src="js/vendor/modernizr.min.js")

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .container
      header.header
        h1 m o n t e
      main#main
        p spanish for mountain

      footer.footer
        p &phi;

    //-script(src="js/vendor/jquery.min.js")
    script(src="js/main.js")
