include html/jade-helpers.jade
!!! 5
head
  title title
  meta(name="description", content="description")
  include html/head.jade

body#homepage
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    section#main
      h2.t4 hello

  include html/foot.jade
</html>
