include html/jade-helpers.jade
doctype html
head
  title title
  meta(name="description", content="description")
  include html/meta.jade
  script(src="js/libs/modernizr.js")
  link(rel="stylesheet", href="style/style.css")


body#homepage
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    div#main
      h1 title
      p &phi;

  include html/scripts.jade
</html>
